<%= link_to gift_request_path(opengiftrequest) do %>
  <div class= "mapCard">
    <h2><%= opengiftrequest.recipient_name %></h2>
    <div class="mapCard-products">
      <p><%=  opengiftrequest.product1 %></p>
      <% if opengiftrequest.product2 %>
        <p><%= opengiftrequest.product2 %></p>
      <%end%>
      <% if opengiftrequest.product3 %>
        <p><%= opengiftrequest.product3 %></p>
      <%end%>
    </div>
  </div>
<%end%>
