<div class="container dashboard">
  <h1>My Gift Requests</h1>
  <% @giftrequests.each do |request| %>
    <%= link_to request do %>
      <div class="request-card">
        <%= link_to icon('fas', 'comments'), "#", id: "request-card-message-button" %>
        <p> <small> Created at: <%= request.created_at.strftime("%-d.%-m.%Y, %H:%M") %> </small></p>
        <p> Recipient: <%= request.recipient_name %> | <%= request.recipient_address %></p>
        <% if request.shopper %>
          <p> Shopper: <%= request.shopper.first_name %></p>
        <% end %>
        <%# Edit button: %>
        <div id="status">
          <% if request.status == "pending" && request.requester_id == current_user.id %>
            <p class="pill-button pill-button-pending"><%= request.status %></p>
            <%= link_to icon('fas', 'pen', 'Edit'), edit_gift_request_path(request), id: "request-card-action-button" %>
          <% elsif request.status == "accepted" %>
            <p class="pill-button pill-button-accepted"><%= request.status %></p>
            <%= link_to "Upload Receipt" if request.shopper_id == current_user.id %>
          <% elsif request.status == "purchased"  %>
            <p class="pill-button pill-button-purchased"><%= request.status %></p>
            <%= link_to "Pay", "#" %>
          <% elsif request.status == "paid"  %>
            <p class="pill-button pill-button-paid"><%= request.status %></p>
          <% elsif request.status == "delivered"  %>
            <p class="pill-button pill-button-delivered"><%= request.status %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
