<div class="dashboard d-none">
  <header>
    <div class="container pt-4 mt-0 pb-3">
      <div class="d-flex align-items-center  justify-content-between">
        <h1 class="pt-0">My Gift Requests</h1>
        <%= link_to "New Gift Request", new_gift_request_path, class: "btn btn-primary mr-3" %>
      </div>
    </div>
  </header>

  <main>
    <div class="container mt-0">
      <div class="row">
        <% @giftrequests.each do |request| %>
          <div class="col-12 col-lg-6 pl-0">
            <div class="request-card">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="mb-0 card-date">Created at: <%= request.created_at.strftime("%-d.%-m.%Y, %H:%M") %></p>
              <div>
                <p class="mb-0 pill-button pill-button-<%= request.status %>"><%= request.status %></p>
              </div>  
              
              </div>

              <p class="card-recipient mb-1">Recipient</p>
              <div class="d-flex justify-content-between align-items-start mb-1">
                <div>
                  <p><%= request.recipient_name %> | <%= request.recipient_address %></p>
                </div>
              </div>

              <p class="card-recipient mb-1">Shopper</p>
              <div class="d-flex justify-content-between align-items-center mb-1">
                <% if request.shopper %>
                  <p class="mb-0"><%= request.shopper.first_name %> <%= link_to icon('fas', 'comments'), gift_request_chatrooms_path(request), class: "ml-2 btn btn-primary btn-small"  %></p>
                <% else %>
                  <p class="text-muted mb-0">Waiting for Shopper to accept... </p>
                <% end %>
                <div>
              
                  <%# if request.status == "pending" && request.requester == current_user %>
                    <%#= link_to icon('fas', 'pen', 'Edit'), edit_gift_request_path(request), class: "btn btn-primary" %>
                    <%#= link_to icon('fas', 'times', 'Cancel'), change_status_gift_request_path(request, status: "cancelled"), class: "btn btn-primary", method: :patch, data: { confirm: "Are you sure you want to cancel your gift request for #{request.recipient_name}?"} %>
                  <%# end %>
                  <%= link_to "Pay now", new_gift_request_payment_path(request), class: "btn btn-primary btn-small" if request.status == "purchased" || request.status == "payment pending" && request.requester == current_user %>
                  <% if request.status == "delivered" && request.requester == current_user %>
                    <a type="button" data-toggle="modal" data-target="#leaveAReview" class="btn btn-primary btn-small">Leave Review</a>
                  <% end %>
                  <span class="request-card-button-see">See gift <%= link_to icon('fas', 'arrow-circle-right'), gift_request_path(request), class: "request-card-button" %></span>
                </div>
              </div>              
            </div>
          </div>
           <!-- Partial Modal (needs to be rendered at the end, otherwise problem with being displayed inside card) -->
           <%= render partial: 'reviews/new', locals: { gift_request: request, review: Review.new } %>
        <% end %>
      </div>
    </div>
  </main>
</div>

<div class="gift_request d-none">
  <header>
    <div class="container pt-4 mt-0 pb-3">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="pt-0">My Shoppings</h1>
        <%= link_to "Find Requests in your Area", gift_requests_path, class: "btn btn-primary mr-3" %>
      </div>
    </div>
  </header>

  <div class="container dashboard mt-0">
    <div class="row">
      <% @mygiftrequests.each do |request| %>
        <div class="col-12 col-lg-6 pl-0">
          <div class="request-card">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 card-date"><%= "Delivery Due Date: #{request.delivery_due_date.strftime("%-d.%-m.%Y")}" if request.delivery_due_date %></p>
                <div id="status" onclick="statusupdate()"> 
                  <p class="mb-0 pill-button pill-button-<%= request.status %>"><%= request.status %></p>
                  <% if request.status == "paid"  %>
                    <div id="change-status" class="d-none">
                      <% GiftRequest::STATUSES.each do |status| %>
                        <%= link_to shopper_change_status_gift_request_path(request, status: status), method: :patch, data: { confirm: "Do you want to change the status for #{request.recipient_name}'s gift to delivered?"} do %>
                          <span class="pill-button pill-button-<%= status %>"><%= status %></span>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            </div>

            <p class="card-recipient mb-1">Recipient</p>
            <div class="d-flex justify-content-between align-items-start mb-1">
              <p><%= request.recipient_name %> | <%= request.recipient_address %></p>
            </div>
            
            <p class="card-recipient mb-1">Gifter</p>
            <div class="d-flex justify-content-between mb-1">
              <p><%= request.requester.first_name %> <%= link_to icon('fas', 'comments'), gift_request_chatrooms_path(request), class: "btn btn-primary btn-small ml-2"  %></p>
              <div>
                <% if request.status == "accepted" && request.shopper == current_user %>
                  <%# Add Price (Receipt) to shopped gift - Upload Reciept %>
                  <a type="button" data-toggle="modal" data-target="#priceModal" class="btn btn-primary btn-small mr-2">Upload Receipt</a>
                  <%= render partial: 'gift_requests/gift_price', locals: { gift_request: request } %>
                <% end %>
                <span class="request-card-button-see">See gift <%= link_to icon('fas', 'arrow-circle-right'), gift_request_path(request), class: "request-card-button" %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
