<div class="dashboard d-none">
  <header>
    <div class="d-flex align-items-center mb-4">
      <h1>My Gift Requests</h1>
      <%= link_to "New Gift Request", new_gift_request_path, class: "btn-primary ml-4 mt-3" %>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <% @giftrequests.each do |request| %>
          <div class="col-12 col-lg-6 pl-0">
            <div class="request-card">
              <div class="d-flex justify-content-between">
                <p><small> Created at: <%= request.created_at.strftime("%-d.%-m.%Y, %H:%M") %> </small></p>
                <%# Check Status to display different options %>
                <div>
                  <% if request.status == "pending" && request.requester == current_user %>
                    <%= link_to icon('fas', 'pen', 'Edit'), edit_gift_request_path(request) %>
                    <%= link_to icon('fas', 'times', 'Cancel'), change_status_gift_request_path(request, status: "cancelled"), method: :patch, data: { confirm: "Are you sure you want to cancel your gift request for #{request.recipient_name}?"} %>
                  <% end %>
                  <%= link_to "Pay now", new_gift_request_payment_path(request) if request.status == "purchased" && request.requester == current_user %>
                  <%= link_to "Leave a review â­", "#" if request.status == "delivered" && request.requester == current_user %>
                </div>
              </div>

              <p> Recipient: <%= request.recipient_name %> | <%= request.recipient_address %></p>
              
              <%# Shopper assigned? %>
              <% if request.shopper %>
                <p> Shopper: <%= request.shopper.first_name %> <%= link_to icon('fas', 'comments'), gift_request_chatrooms_path(request)  %></p>
              <% else %>
                <p class="text-muted">Waiting for Shopper to accept... </p>
              <% end %>

              <p class="pill-button pill-button-<%= request.status %>"><%= request.status %></p>

              <%= link_to icon('fas', 'expand-alt'), gift_request_path(request), id: "request-card-expand-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>

<div class="gift_request d-none">
  <header>
    <div class="container mb-3">
      <h1>Gift Requests in your Area</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <% @opengiftrequests.each do |giftrequest| %>
          <div class="col-12 col-lg-4 pl-0">
            <%= link_to gift_request_path(giftrequest) do %>
              <div class="request-card">
                <p><small><%= "Delivery Due Date: #{giftrequest.delivery_due_date.strftime("%-d.%-m.%Y")}" if giftrequest.delivery_due_date %></small></p>
                <p><b>Products: </b><%= giftrequest.product1 %> <%= "|" if giftrequest.product2 %> <%= giftrequest.product2 %> <%= "|" if giftrequest.product3 %> <%= giftrequest.product3 %></p>
                <p><b>Gift for: </b> <%= giftrequest.recipient_name%></p>
                <%= image_tag(giftrequest.requester.profile_picture, class: "avatar", id: "request-card-avatar") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <%# Map Implementation %>
      <div id="map" style="width: 80%; height: 600px; margin-top: 20px;" data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    
    </div>
  </main>
</div>


