<%# <p>profiles show, to be able to see other users, also my profile</p> %>
<!-- how to select a user i wanna? through email? nonono -> just through the  -->
<%# <p>add a link from gift_request to be able to get here</p> %>
<%# <p>add the edit and then revrite the devise eddit> or override it somewhere else ?</p> %>
<%# <p>put a map with the location in here??</p> %>

<header>
<!--   <h1 id="user_name"> <%= @user.first_name %></h1> -->
  <div class="d-flex align-items-center mb-2 pb-2">
    <h1><%= @user.first_name %></h1>
  </div>
</header>

<main>
  <div class="container mt-4" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">
      <div class="col-3" id="profile">

        <div class="row" id="name_logo">
          <% if @user.profile_picture %>
            <%= image_tag(@user.profile_picture, options = {class: "avatar-large", id: "user_profile_photo"} ) %>
          <% else %>
            <img src="https://medgoldresources.com/wp-content/uploads/2018/02/avatar-placeholder-300x300.gif" alt="user-avatar" class="avatar-large">
          <% end %>
        </div>

        <div class="row">
          <div class="col" id="profile_details">
            <h5 id="profile-name"> <%= @user.first_name %> <%= @user.last_name %></h5>
            <p> <%= @user.email %> </p>
            <p> Shopping in <span id="profile-location"><%= @user.location %></span> </p>
          </div>
        </div>

        <div class="row" id="edit-profile">
          <% if @user == current_user %>
            <%= link_to "Edit", edit_user_registration_path(current_user), class: "btn-primary" %>
          <% end %>
        </div>
      </div>

      <div class="col ml-5 mt-4">
        <h3 id="reviews" class="mb-0">Reviews</h3>
        <% @reviews.each do |review| %>
          <% if @user.id == review.gift_request.shopper_id %>
            <div class="pl-0" id="review">
              <% if review.rating == 1 %>
                <div class="stars">
                  <i class="fa fa-star"></i>
                </div>
              <% elsif review.rating == 2 %>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              <% elsif review.rating == 3 %>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              <% elsif review.rating == 4 %>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              <% elsif review.rating == 5 %>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              <% else %>
              <% end %>
              <p>"<%= review.review %>"</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
