<p>profiles show, to be able to see other users, also my profile</p>
<!-- how to select a user i wanna? through email? nonono -> just through the  -->
<p>add a link from gift_request to be able to get here</p>
<p>add the edit and then revrite the devise eddit> or override it somewhere else ?</p>

<div class="container text-center mt-4">
  <h1>Profile of: <%= @user.first_name %></h1>
  <%= image_tag(@user.profile_picture, options = {class: "avatar-large"} ) %>
  <p> <strong>Name:</strong>  <%= @user.first_name %> <%= @user.last_name %></p>
  <p> <strong>Email:</strong>  <%= @user.email %> </p>
  <p> <strong>Location:</strong> <%= @user.location %> </p>
  <%= link_to 'Back', :back %>
</div>
