<header>
  <div>
    <h1>Gift request for <%= @giftrequest.recipient_name %> in <%= @giftrequest.recipient_address %></h1>
  </div>
</header>

<main>
  <div class="container">
    <div>
      <p><b>Details</b></p>
      <p class="show-subtitle"> BUDGET</p>
      <p>€ <%= @giftrequest.budget%></p>
      <p class="show-subtitle"> PACKAGING</p>
      <p><%= @giftrequest.packaging %></p>
      <p class="show-subtitle"> DELIVERY DATE</p>
      <p><%= @giftrequest.delivery_due_date.strftime("%-d.%-m.%Y")%></p>
    </div>

    <div>
      <p><b>Products</b></p>
      <p><%= @giftrequest.product1 %> <%= @giftrequest.shop1 %></p>
      <p><%= @giftrequest.product2 %> <%= @giftrequest.shop2 %></p>
      <p><%= @giftrequest.product3 %> <%= @giftrequest.shop3 %></p>
    </div>

    <div>
      <b></b>
      <p><b>Comment</b></p>
      <% if @giftrequest.comment %>
        <%= @giftrequest.comment %>
      <% else %>
        No Comment
      <% end %>
    </div>

    <%#= link_to "Confirm", gift_requests_path(nil, gift_request:@giftrequest), method: :post, class: "btn btn-primary mt-3" %>
    <%= render 'form_confirm', gift_request: @giftrequest %>
  </div>
</main>
