<header>
  <div class="d-flex align-items-center mb-2 pb-2">
    <h1>Gift Requests in Your Area</h1>
  </div>
<!--   <div class="container mb-3 pb-2">
    <h1>Gift Requests in your Area</h1>
  </div> -->
</header>

<main>
  <div class="container mt-0">
    <div class="row">
      <div id="map" style="width: 100%; height: 300px; margin-top: 20px;" data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

      <% @opengiftrequests.each do |giftrequest| %>
        <div class="col-12 col-lg-4 pl-0">
          <%= link_to gift_request_path(giftrequest) do %>
            <div class="request-card">
              <p><small><%= "Delivery Due Date: #{giftrequest.delivery_due_date.strftime("%-d.%-m.%Y")}" if giftrequest.delivery_due_date %></small></p>
              <p><b>Products: </b><%= giftrequest.product1 %> <%= "|" if giftrequest.product2 %> <%= giftrequest.product2 %> <%= "|" if giftrequest.product3 %> <%= giftrequest.product3 %></p>
              <p><b>Gift for: </b> <%= giftrequest.recipient_name%></p>
              <%= image_tag(giftrequest.requester.profile_picture, class: "avatar", id: "request-card-avatar") %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# Map Implementation %>
    <div id="map" style="width: 80%; height: 600px; margin-top: 20px;" data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>
</main>
