<header>
  <div class="container">
    <h1>Gift Requests in your Area</h1>
  </div>
</header>

<main>
  <div class="container">
    <div class="d-flex align-items-center flex-column">
      <%@opengiftrequests.each do |giftrequest| %>
          <%= link_to gift_request_path(giftrequest) do %>
            <div class="card-gift d-flex align-items-center" >
              <div>
                <%= image_tag(giftrequest.requester.profile_picture, class: "card-gift-user avatar-medium" ) %>
              </div>
              <div class="card-gift-infos">
                <p id="card-gift-date"> <small> Created at <%= giftrequest.created_at.strftime("%-d.%-m.%Y, %H:%M") %> </small></p>
                <div id=info>
                  <p>Products: <%= giftrequest.product1 %> <%= "|" if giftrequest.product2 %> <%= giftrequest.product2 %> <%= "|" if giftrequest.product3 %> <%= giftrequest.product3 %></p>
                  <p>Gift for: <%= giftrequest.recipient_name%></p>
                </div>
              </div>
            </div>
          <%end%>
      <% end %>
    </div>
  </div>
</main>
