<header>
  <div class="d-flex align-items-center mb-2 pb-2">
    <h1>Gift for <%= @giftrequest.recipient_name %> in <%= @giftrequest.recipient_address.split(",").last %><span id="aligner" class="ml-3 pill-button pill-button-<%= @giftrequest.status%>"><%= @giftrequest.status %></span></h1>
  </div>
  <!-- <h1>Gift for <%= @giftrequest.recipient_name %> in <%= @giftrequest.recipient_address %><span id="aligner" class="ml-3 pill-button pill-button-<%= @giftrequest.status%>"><%= @giftrequest.status %></span></h1> -->
</header>

<div class="container mt-4">
  <div>
    <div class="d-flex row">
      <div class="col-4">
        <div>
          <p class="show-title">DETAILS</p>
        </div>
        <div class="pl-1">
          <% if @giftrequest.status == "pending" && @giftrequest.requester == current_user %>
            <p><%= @giftrequest.delivery_due_date.strftime("%-d.%-m.%Y") if @giftrequest.delivery_due_date %></p>
          <% end %>
          <p class="show-subtitle"> <%= "BUDGET" if @giftrequest.budget %></p>
          <p> <%= "€" if @giftrequest.budget %><%= @giftrequest.budget %></p>

          <!-- show the price only when the package is purchases, paid, delivered? -->
          <% if @giftrequest.status == "purchased" ||  @giftrequest.status == "paid" ||  @giftrequest.status == "delivered"%>
            <p class="show-subtitle"><%= "PRICE" if @giftrequest.price %> </p>
            <p>€ <%= @giftrequest.price%></p> <!-- automatically conveted from eurosents to euros  -->
          <% end %>
          <p class="show-subtitle">PACKAGING</p>
          <p><%= @giftrequest.packaging %></p>
        </div>
      </div>

      <div class="col-8">
        <div>
          <p class="show-title">COMMENT</p>
        </div>
        <div class="pl-1">
          <% if @giftrequest.comment %>
            <p><%= @giftrequest.comment %></p>
          <% else %>
            <p>No Comment</p>
          <% end %>
        </div>
      </div>

    </div>

    <div class="d-flex row mt-5">

      <div class="col-4">
        <div>
          <p class="show-title">PRODUCTS</p>
        </div>
        <div class="pl-1">
          <p><%= @giftrequest.product1 %> <%= @giftrequest.shop1 %></p>
          <p><%= @giftrequest.product2 %> <%= @giftrequest.shop2 %></p>
          <p><%= @giftrequest.product3 %> <%= @giftrequest.shop3 %></p>
        </div>
      </div>

      <div class="col-8">
        <% if @giftrequest.requester != current_user %>
          <div>
            <p class="show-title">GIFTER</p>
          </div>
          <div class="pl-1">
            <%= link_to profile_path(@giftrequest.requester) do %>
                <%= image_tag @giftrequest.requester.profile_picture, class: "avatar", id: "show-avatar" %>
                <%= @giftrequest.requester.first_name %>
            <% end %>
              <%= link_to "Chat", gift_request_chatrooms_path(@giftrequest), class: "btn btn-primary", id: "show-chat" if @giftrequest.status != "pending" %>
          <% elsif @giftrequest.shopper %>
            <p class="show-title">SHOPPER</p>
            <%= link_to profile_path(@giftrequest.shopper) do %>
                <%= image_tag @giftrequest.shopper.profile_picture, class: "avatar", id: "show-avatar" %>
                <%= @giftrequest.shopper.first_name %>
            <% end %>
              <%= link_to "Chat", gift_request_chatrooms_path(@giftrequest), class: "btn btn-primary", id: "show-chat" if @giftrequest.status != "pending" %>
          <% end %>
        </div>
      </div>
      <div class="ml-2 mt-3">
        <% if @giftrequest.status == "pending" && @giftrequest.requester != current_user %>
          <%= link_to "Take on #{@giftrequest.requester.first_name}'s request", accept_gift_request_path(@giftrequest), class: "btn btn-primary mt-3", method: :patch, data: { confirm: "Are you sure you want to shop #{@giftrequest.requester.first_name}'s request?"} %>
        <% end %>
      </div>

      <div class = "pt-3">
        <% if @giftrequest.status == "pending" && @giftrequest.requester == current_user %>
          <%= link_to "Edit Request", edit_gift_request_path(@giftrequest), class: "btn btn-primary ml-3 mt-3" %>
          <%= link_to "Cancel Request", change_status_gift_request_path(@giftrequest, status: "cancelled"), method: :patch, data: { confirm: "Are you sure you want to cancel your gift request for #{@giftrequest.recipient_name}?"}, class: "btn ml-3 mt-3", id: "cancel-btn" %>
        <% end %>
      </div>

            <!-- Button trigger modal -->
      <% if @giftrequest.status == "delivered" && @giftrequest.requester == current_user %>
      <div class="ml-2 mt-3">
        <button type="button" class="btn btn-primary ml-3 mt-3" data-toggle="modal" data-target="#leaveAReview">
          Leave Review
        </button>
      </div>

      <!-- Partial Modal -->
      <%= render partial: 'reviews/new', locals: { gift_request: @giftrequest, review: @review } %>
      <% end %>

    </div>
    </div>


  </div>
</div>
