<div class="col-sm-6 col-lg-4">
  <h1><%= @giftrequest.recipient_name %></h1>
  <p><%= @giftrequest.recipient_address%></p>
  <p><%= @giftrequest.delivery_due_date%></p>
  <p><%= @giftrequest.budget%></p>
  <p><%= @giftrequest.packaging%></p>
  <p><%= @giftrequest.comment%></p>
  <p><%= @giftrequest.products%></p>
  <p><%= @giftrequest.status%></p>
  <p><%= @giftrequest.requester_id%></p>
  <p><%= @giftrequest.shopper_id%></p>
  <%= render 'reviews/new', gift_request: @giftrequest, review: @review %>
</div>



