<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div>
        <h2>Gift request for <%= @giftrequest.recipient_name %> in <%= @giftrequest.recipient_address %><span class="pill-button pill-button-<%= @giftrequest.status%>"><%= @giftrequest.status %></span></h2>
      </div>

      <div>
        <p><b>Details</b></p>
        <% if @giftrequest.status == "pending" && @giftrequest.requester == current_user %>
          <p><%= @giftrequest.delivery_due_date.strftime("%-d.%-m.%Y")%></p>
        <% end %>
        <p>€ <%= @giftrequest.budget%></p>
        <p><%= @giftrequest.packaging %></p>
      </div>
      <div>
        <p><b>Products</b></p>
        <p><%= @giftrequest.product1 %> <%= @giftrequest.shop1 %></p>
        <p><%= @giftrequest.product2 %> <%= @giftrequest.shop2 %></p>
        <p><%= @giftrequest.product3 %> <%= @giftrequest.shop3 %></p>
      </div>

      <div>
        <b></b>
        <p><b>Comment</b></p>
        <% if @giftrequest.comment %>
          <%= @giftrequest.comment %>
        <% else %>
          No Comment 
        <% end %>
      </div>

      <div class = "pt-3">
        <% if @giftrequest.status == "pending" && @giftrequest.requester == current_user %>
          <%= link_to icon('fas', 'pen', 'Edit'), edit_gift_request_path(@giftrequest) %>
          <%= link_to icon('fas', 'times', 'Cancel'), change_status_gift_request_path(@giftrequest, status: "cancelled"), method: :patch, data: { confirm: "Are you sure you want to cancel your gift request for #{@giftrequest.recipient_name}?"} %>
        <% end %>
      </div>
      <% if @giftrequest.status == "pending" && @giftrequest.requester != current_user %>
        <%= link_to "Take on #{@giftrequest.requester.first_name} 's request", accept_gift_request_path(@giftrequest, status: "accepted"), class: "btn btn-danger mt-3", method: :patch, data: { confirm: "Are you sure you want to shop #{@giftrequest.requester.first_name}'s request?"} %>
      <% end %>
    </div>
    
    <div class="col-4 ">
      <% if @giftrequest.requester != current_user %>
        <p>Requester:</p>
        <%= link_to profile_path(@giftrequest.requester) do %>
            <%= image_tag @giftrequest.requester.profile_picture, class: "avatar" %>
            <%= @giftrequest.requester.first_name %>
        <% end %>
        <%= link_to icon('fas', 'comments'), gift_request_chatrooms_path(@giftrequest) if @giftrequest.status != "pending" %>
      <% elsif @giftrequest.shopper %>
        <p>Shopper:</p>
        <%= link_to profile_path(@giftrequest.shopper) do %>
            <%= image_tag @giftrequest.shopper.profile_picture, class: "avatar" %>
            <%= @giftrequest.shopper.first_name %>
        <% end %>
        <%= link_to icon('fas', 'comments'), gift_request_chatrooms_path(@giftrequest) if @giftrequest.status != "pending" %>
      <% end %>
    </div>
    
    </div>

    <!-- Button trigger modal -->
    <% if @giftrequest.status == "delivered" && @giftrequest.requester == current_user %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#leaveAReview">
      Leave Review
    </button>

    <!-- Partial Modal -->
    <%= render partial: 'reviews/new', locals: { gift_request: @giftrequest, review: @review } %>
    <% end %>
  </div>
</div>
