<header>
  <div class="d-flex align-items-center mb-2 pb-2">
      <h1>Messages</h1>
  </div>
 <!--  <h1 class="pb-2">Messages</h1> -->
</header>

<main >
  <div class="container mt-0">
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.gift_request.requester == current_user || chatroom.gift_request.shopper == current_user  %>
        <% if chatroom.gift_request.requester != current_user %>
          <%= link_to  gift_request_chatrooms_path(chatroom.gift_request) do %>
            <div class="request-card d-flex py-3">
              <%= image_tag chatroom.gift_request.requester.profile_picture, class: "avatar mr-2" %>
              <p class="chatroom-user"><%= chatroom.gift_request.requester.first_name %></p>
            </div>
          <% end %>
        <% elsif chatroom.gift_request.shopper %>
          <%= link_to  gift_request_chatrooms_path(chatroom.gift_request) do %>
            <div class="request-card d-flex py-3">
              <%= image_tag chatroom.gift_request.shopper.profile_picture, class: "avatar mr-2" %>
              <p class="chatroom-user"><%= chatroom.gift_request.shopper.first_name %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</main>
