<div class="container" id="chatroom">
  <div class="d-flex justify-content-between align-items-center">
    <% if @chatroom.gift_request.requester != current_user %>
      <%= link_to profile_path(@chatroom.gift_request.requester) do %>
        <h1><%= image_tag @chatroom.gift_request.requester.profile_picture, class: "avatar" %> <%= @chatroom.gift_request.requester.first_name %></h1>
      <% end %>
    <% else %>
      <%= link_to profile_path(@chatroom.gift_request.shopper) do %>
        <h1><%= image_tag @chatroom.gift_request.shopper.profile_picture, class: "avatar" %> <%= @chatroom.gift_request.shopper.first_name %></h1>
      <% end %>
    <% end %>
    <%= link_to icon('fas', 'expand-alt', 'View request'), gift_request_path(@chatroom.gift_request) %>
  </div>
   <!--  <h1>#<%= @chatroom.id %></h1> id replaed -->
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container mb-2"> 
        <p class="text-center">
          <small>
            <%= message.created_at.strftime("%-d.%-m.%Y") if !message.created_at.today?  %>
          </small>
        </p>
        <% if message.user == current_user %>
          <div class="d-flex justify-content-end">
            <p class="mb-0 message-current-user" id="message-<%= message.id %>">
              <span id="message-content"><%= message.content %></span>
              <span class="d-block" id="message-sent-time"><%= message.created_at.strftime("%l:%M%p") %></span>
            </p>
            
          </div>
        <% else %>
          <div class="d-flex">
            <p class="mb-0 message-other-user" id="message-<%= message.id %>">
              <span id="message-content"><%= message.content %></span>
              <span class="d-block" id="message-sent-time"><%= message.created_at.strftime("%l:%M%p") %></span>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="send-message" class="mt-5">
    <%= simple_form_for [ @chatroom, @message ], remote: true, authenticity_token: true do |f| %>
      <%= f.hidden_field :gift_request_id, value: params[:gift_request_id] %>
      <%= f.input :content, label: false, placeholder: "Type your message here"  %> <%#, placeholder: "Message ##{@chatroom.id}" %>
    <% end %>
  </div>
</div>
