<header>
  <div class="container pt-4 mt-0 pb-3">
    <div class="d-flex align-items-center justify-content-between">
      <div>
      <% if @chatroom.gift_request.requester != current_user %>
        <%= link_to profile_path(@chatroom.gift_request.requester) do %>
          <h1 class="pt-0 mb-0"><%= image_tag @chatroom.gift_request.requester.profile_picture, class: "avatar-medium" %> <%= @chatroom.gift_request.requester.first_name %></h1>
        <% end %>
      <% else %>
        <%= link_to profile_path(@chatroom.gift_request.shopper) do %>
          <h1 class="pt-0 mb-0"><%= image_tag @chatroom.gift_request.shopper.profile_picture, class: "avatar-medium" %> <%= @chatroom.gift_request.shopper.first_name %></h1>
        <% end %>
      <% end %>
    </div>
      <%= link_to "View Request", gift_request_path(@chatroom.gift_request), class: "btn btn-primary" %>
    </div>
  </div>
</header>

<main>
  <div class="container" id="chatroom">
    <!--  <h1>#<%= @chatroom.id %></h1> id replaed -->
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <div class="message-container mb-2">
          <p class="text-center">
            <small>
              <%= message.created_at.strftime("%-d.%-m.%Y") if !message.created_at.today?  %>
            </small>
          </p>

          <% if message.user == current_user %>
            <div class="d-flex justify-content-end">
              <p class="mb-0 message-current-user" id="message-<%= message.id %>">
                <span id="message-content"><%= message.content %></span>
                <span class="d-block" id="message-sent-time"><%= message.created_at.strftime("%l:%M%p") %></span>
              </p>
            </div>
          <% else %>
            <div class="d-flex">
              <p class="mb-0 message-other-user" id="message-<%= message.id %>">
                <span id="message-content"><%= message.content %></span>
                <span class="d-block" id="message-sent-time"><%= message.created_at.strftime("%l:%M%p") %></span>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
      <div id="send-message">
        <%= simple_form_for [ @chatroom, @message ], remote: true, authenticity_token: true, html: { class: "d-flex mt-2", autocomplete: "off"} do |f| %>
          <%= f.hidden_field :gift_request_id, value: params[:gift_request_id] %>
          <%= f.input :content, label: false, placeholder: "Type your message here" %> <%#, placeholder: "Message ##{@chatroom.id}" %>
        <% end %>
      </div>

    </div>

  </div>
</main>
