<nav class="nav row flex-column" id="sidebar">
  <div id="sidebar_container">

    <%= link_to dashboard_path, class: "sidebar-icon nav-link", id: "home-icon" do %>
      <div class="<%= "current-icon" if controller_name == 'profiles' && action_name == 'dashboard' %>">
        <%= image_tag "home.svg", class: "nav-icon" %>
      </div>
    <% end %>
    <%= link_to new_gift_request_path, class: "sidebar-icon nav-link", id: "new-icon" do %>
      <div class="<%= "current-icon" if controller_name == 'gift_requests' && action_name == 'new' %>">
        <%= image_tag "new_request.svg", class: "nav-icon" %>
      </div>
    <% end %>
    <%= link_to chatrooms_path, class: "sidebar-icon nav-link" do %>
      <div class="<%= "current-icon" if controller_name == 'chatrooms' && action_name == 'index' %>">
        <%= image_tag "chat.svg", class: "nav-icon" %>
      </div>
    <% end %>
    <%= link_to gift_requests_path, class: "sidebar-icon nav-link" do %>
      <div class="<%= "current-icon" if controller_name == 'gift_requests' && action_name == 'index' %>">
        <%= image_tag "find_request.svg", class: "nav-icon"  %>
      </div>
    <% end %>
  </div>
</nav>
