<nav class="nav row flex-column" id="sidebar">
  <div id="sidebar_container">
  <%= link_to dashboard_path, class: "sidebar-icon nav-link" do %>
    <i class="fas fa-home"></i>
  <% end %>
  <%= link_to new_gift_request_path, class: "sidebar-icon nav-link", id: "new-gift" do %>
    <%= image_tag("new_gift.svg") %>
  <% end %>
  <%= link_to chatrooms_path, class: "sidebar-icon nav-link" do %>
    <i class="fas fa-comments"></i>
  <% end %>
  <%= link_to gift_requests_path, class: "sidebar-icon nav-link" do %>
    <i class="fas fa-search"></i>
  <% end %>
  </div>
</nav>
