<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_pack_tag 'application' %>
    <title>LocalShopper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <%# <meta name="turbolinks-cache-control" content="no-cache"> %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <% if user_signed_in? %>
      <div class="d-grid mb-5">
        <%= render 'shared/sidebar' %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
